{
  "openapi": "3.0.0",
  "info": {
    "title": "onebor API",
    "description": "Complete API specification for onebor platform",
    "version": "1.0.0",
    "contact": {
      "name": "onebor API Support",
      "email": "support@onebor.com"
    }
  },
  "servers": [
    {
      "url": "https://api.onebor.com/panda",
      "description": "Production server"
    },
    {
      "url": "https://zwkvk3lyl3.execute-api.us-east-2.amazonaws.com/dev",
      "description": "Development server"
    }
  ],
  "paths": {
    "/update_entity": {
      "post": {
        "summary": "Updateentity",
        "description": "Lambda function updatePandaEntity",
        "operationId": "updatePandaEntity",
        "tags": [
          "Updateentity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "entity_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "integer"
                  },
                  "entity_type_id": {
                    "type": "integer"
                  },
                  "attributes": {
                    "type": "integer"
                  },
                  "client_group_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id",
                  "entity_id",
                  "name",
                  "entity_type_id",
                  "attributes",
                  "client_group_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_entities": {
      "post": {
        "summary": "Getentities",
        "description": "Lambda function getPandaEntities",
        "operationId": "getPandaEntities",
        "tags": [
          "Getentities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "entity_category": {
                    "type": "string"
                  }
                },
                "required": [
                  "user_id",
                  "entity_category"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_transaction": {
      "post": {
        "summary": "Updatetransaction",
        "description": "Lambda handler for creating/updating transactions.",
        "operationId": "updatePandaTransaction",
        "tags": [
          "Updatetransaction"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "transaction_id": {
                    "type": "integer"
                  },
                  "portfolio_entity_id": {
                    "type": "integer"
                  },
                  "contra_entity_id": {
                    "type": "integer"
                  },
                  "instrument_entity_id": {
                    "type": "integer"
                  },
                  "transaction_type_id": {
                    "type": "integer"
                  },
                  "transaction_status_id": {
                    "type": "integer"
                  },
                  "properties": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id",
                  "transaction_id",
                  "portfolio_entity_id",
                  "contra_entity_id",
                  "instrument_entity_id",
                  "transaction_type_id",
                  "transaction_status_id",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_user": {
      "post": {
        "summary": "Updateuser",
        "description": "Lambda function updatePandaUser",
        "operationId": "updatePandaUser",
        "tags": [
          "Updateuser"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "sub": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "preferences": {
                    "type": "string"
                  },
                  "primary_client_group_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "user_id",
                  "sub",
                  "email",
                  "preferences",
                  "primary_client_group_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_positions": {
      "post": {
        "summary": "Updatepositions",
        "description": "Lambda handler for the position keeper.\n\n    This function handles manual triggers, scheduled invocations, and on-demand processing.",
        "operationId": "updatePandaPositions",
        "tags": [
          "Updatepositions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "integer"
                  },
                  "transaction_id": {
                    "type": "integer"
                  },
                  "transaction_type_id": {
                    "type": "integer"
                  },
                  "portfolio_entity_id": {
                    "type": "integer"
                  },
                  "contra_entity_id": {
                    "type": "integer"
                  },
                  "instrument_entity_id": {
                    "type": "integer"
                  },
                  "updated_user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "operation",
                  "transaction_id",
                  "transaction_type_id",
                  "portfolio_entity_id",
                  "contra_entity_id",
                  "instrument_entity_id",
                  "updated_user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/modify_client_group_membership": {
      "post": {
        "summary": "Modifyclientgroupmembership",
        "description": "Lambda function modifyPandaClientGroupMembership",
        "operationId": "modifyPandaClientGroupMembership",
        "tags": [
          "Modifyclientgroupmembership"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_group_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "client_group_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/modify_client_group_entities": {
      "post": {
        "summary": "Modifyclientgroupentities",
        "description": "Lambda function modifyPandaClientGroupEntities",
        "operationId": "modifyPandaClientGroupEntities",
        "tags": [
          "Modifyclientgroupentities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_group_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "client_group_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_transaction_type": {
      "post": {
        "summary": "Updatetransactiontype",
        "description": "Lambda function updatePandaTransactionType",
        "operationId": "updatePandaTransactionType",
        "tags": [
          "Updatetransactiontype"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction_type_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "integer"
                  },
                  "properties": {
                    "type": "integer"
                  }
                },
                "required": [
                  "transaction_type_id",
                  "name",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_entity_types": {
      "post": {
        "summary": "Getentitytypes",
        "description": "Lambda function getPandaEntityTypes",
        "operationId": "getPandaEntityTypes",
        "tags": [
          "Getentitytypes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_entity_type": {
      "post": {
        "summary": "Updateentitytype",
        "description": "Lambda function updatePandaEntityType",
        "operationId": "updatePandaEntityType",
        "tags": [
          "Updateentitytype"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "entity_type_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "integer"
                  },
                  "attributes_schema": {
                    "type": "integer"
                  },
                  "short_label": {
                    "type": "integer"
                  },
                  "label_color": {
                    "type": "integer"
                  },
                  "entity_category": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id",
                  "entity_type_id",
                  "name",
                  "attributes_schema",
                  "short_label",
                  "label_color",
                  "entity_category"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_transactions": {
      "post": {
        "summary": "Gettransactions",
        "description": "Lambda handler for getting transactions.",
        "operationId": "getPandaTransactions",
        "tags": [
          "Gettransactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "client_group_id": {
                    "type": "integer"
                  },
                  "transaction_id": {
                    "type": "integer"
                  },
                  "portfolio_entity_id": {
                    "type": "integer"
                  },
                  "contra_entity_id": {
                    "type": "integer"
                  },
                  "instrument_entity_id": {
                    "type": "integer"
                  },
                  "transaction_type_id": {
                    "type": "integer"
                  },
                  "transaction_status_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "user_id",
                  "client_group_id",
                  "transaction_id",
                  "portfolio_entity_id",
                  "contra_entity_id",
                  "instrument_entity_id",
                  "transaction_type_id",
                  "transaction_status_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/delete_record": {
      "post": {
        "summary": "Deleterecord",
        "description": "Lambda function deletePandaRecord",
        "operationId": "deletePandaRecord",
        "tags": [
          "Deleterecord"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "record_id": {
                    "type": "integer"
                  },
                  "record_type": {
                    "type": "string",
                    "enum": [
                      "Client Group",
                      "Entity",
                      "Entity Type",
                      "Transaction",
                      "Transaction Type",
                      "User"
                    ]
                  }
                },
                "required": [
                  "record_id",
                  "record_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_client_group": {
      "post": {
        "summary": "Updateclientgroup",
        "description": "Lambda function updatePandaClientGroup",
        "operationId": "updatePandaClientGroup",
        "tags": [
          "Updateclientgroup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_group_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "integer"
                  },
                  "preferences": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "client_group_id",
                  "name",
                  "preferences",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_transaction_statuses": {
      "post": {
        "summary": "Gettransactionstatuses",
        "description": "Lambda function getPandaTransactionStatuses",
        "operationId": "getPandaTransactionStatuses",
        "tags": [
          "Gettransactionstatuses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_transaction_types": {
      "post": {
        "summary": "Gettransactiontypes",
        "description": "Lambda function getPandaTransactionTypes",
        "operationId": "getPandaTransactionTypes",
        "tags": [
          "Gettransactiontypes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_users": {
      "post": {
        "summary": "Get Users",
        "description": "API endpoint for Get Users",
        "operationId": "getPandaUsers",
        "tags": [
          "Get Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count_only": {
                    "type": "boolean"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/get_client_groups": {
      "post": {
        "summary": "Get Client Groups",
        "description": "API endpoint for Get Client Groups",
        "operationId": "getPandaClientGroups",
        "tags": [
          "Get Client Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count_only": {
                    "type": "boolean"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/manage_invitation": {
      "post": {
        "summary": "Manage Invitation",
        "description": "API endpoint for Manage Invitation",
        "operationId": "managePandaInvitation",
        "tags": [
          "Manage Invitation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count_only": {
                    "type": "boolean"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/create_transaction_status": {
      "post": {
        "summary": "Create Transaction Status",
        "description": "API endpoint for Create Transaction Status",
        "operationId": "unknown",
        "tags": [
          "Create Transaction Status"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count_only": {
                    "type": "boolean"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/update_transaction_status": {
      "post": {
        "summary": "Update Transaction Status",
        "description": "API endpoint for Update Transaction Status",
        "operationId": "updatePandaTransactionStatus",
        "tags": [
          "Update Transaction Status"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "count_only": {
                    "type": "boolean"
                  },
                  "limit": {
                    "type": "number"
                  },
                  "offset": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "options": {
        "summary": "CORS preflight",
        "description": "Handle CORS preflight requests",
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}